<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield content_for(:title) %>
      <% else %>
      WebScroll - Simplest Writing Platform" %>
      <% end %>
      - <%= blog_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|Merriweather:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="webscroll">
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <%= icon "fas", "scroll" %> <%= blog_name %>
        <% end %>
      </div>
      <div class="row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>

      <footer class="container">

        <div class="row">
          <div class="col m6 s12">
            <div class="logo">Made with <%= icon "fas", "scroll" %> WebScroll</div>
            <p>WebScroll is simplest writing platform made with Ruby on Rails.
              It's main concern is in providing a place to publish your writing.
              That's it.</p>
              <p><%= current_blog.copyright_text %></p>
          </div>
          <div class="col m3 s12">
            <ul class="mt-0">
              <li><%= link_to "About", current_blog.about_url %></li>
              <li><%= link_to "Terms of Use", current_blog.terms_url if ! current_blog.terms_url.blank? %></li>
            </ul>
          </div>
          <div class="col m3 s12">
            <ul class="mt-0">
            <% if author_signed_in? %>

                <li><%= link_to "New Article", new_article_path %></li>
                <% if @article %>
                  <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
                <% end %>
                <li><%= link_to "Articles", articles_path %></li>
                <li>-</li>
                <li><%= link_to "Sign Out", destroy_author_session_path %></li>

            <% else %>
              <li><%= link_to "Sign In", new_author_session_path %></li>
            <% end %>
            </ul>
          </div>
        </div>

      </footer>

    </div>
  </body>
</html>
